# Git
.git/
.gitignore

# Secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Datos locales
data/raw/*
data/processed/*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Dev Container
.devcontainer/

