# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
.env.local

# =========================
# Data
# =========================
data/raw/*
data/processed/*

# Mantener las carpetas en Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
