# Data processing
pandas
numpy

# HTTP / API
requests

# AWS
boto3

# PostgreSQL
psycopg2-binary
SQLAlchemy

# Dashboard
streamlit
plotly

# Environment variables
python-dotenv

pip install sqlalchemy psycopg2-binary