# Data processing
pandas==2.2.0
numpy

# HTTP / API
requests

# AWS
boto3

# PostgreSQL
psycopg2-binary==2.9.9
sqlalchemy==2.0.25

# Dashboard
streamlit==1.31.0
plotly==5.18.0

# Environment variables
python-dotenv==1.0.1




